<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 pad-left-0">
      <img src="../assets/images/library1.jpg" height="627px" width="100%">
    </div>
    <div class="col-sm-4 margin-top-5">
      <div class="container">
        <h3 class="log-in-text">LOG IN</h3>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" class="form-control" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password"  name="password"
          required>
        <button [routerLink]="['/home']">Visit The Library</button>
      </div>
    </div>
  </div>
</div>
