  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: darkcyan;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #4CAF50;
  }
  
  .container {
    height: 100%;
    width: 100%;
    padding: 16px;
  }

  .pad-left-0 {
    padding-left: 0;
  }
  
  .log-in-text {
    text-align: center;
  }

  .margin-top-5 {
    margin-top: 5%;
  }