  /* Full-width input fields */
  input[type=text],
  input[type=number],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: darkcyan;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }

  button:hover {
    background-color: #4CAF50;
  }

  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }


  .container {
    height: 100%;
    width: 100%;
    padding: 16px;
  }

  .pad-left-0 {
    padding-left: 0;
  }

  .log-in-text {
    text-align: center;
  }

  .container {
    margin-left: 10%;
    width: 225%;
    margin-top: 1%;
  }

  .height-40 {
    height: 40px;
  }

  input[type="text"],
  input[type="password"] {
    margin: 0;
  }

  .margin-top-30 {
    margin-top: 20px;
  }
